.sg-teamMember-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.sg-teamMember {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
}
    .sg-teamMember--active {
        background-color: lightgreen;
    }
  